
body {
    font-size: 16px;
}

.container{
    max-width: 1000px;
    background: 0;
    padding: 0px;
    z-index: 2;
}

.row{
    padding: 20px;
}

.white{
    background-color: white;
    margin-top: 117px;
}

.right{
    margin-left: 70%;
}

h1{
    text-align: center;
    color: rgb(0, 146, 190);
    font-size: 150px;
    text-shadow: 0px 0px 35px black;
}

h3{
    margin-top: 50px;
}

h5{
    margin-top: 50px;
}

p{
    color: black;
    font-size: 16px;
    text-align: justify;
}

ol{
    margin-top: -25px;
    margin-left: 50px;
}

IMG.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    z-index: 2;
    box-shadow: 0px 0px 34px black;
}

.navbar{
    text-align: right;
}

#bouton{
    font-size: 70px;
    background-color: #D8D8D8;
    margin-left: 7%;
    margin-right: auto;
    margin-bottom: 35px;
    box-shadow: 0px 0px 15px #585252;
    border-style: hidden;
    width: 800px;
    height: 85%;
}

pre{
    box-shadow:3px 3px 5px black;
}

header {
    background-color: white;
    background-image: url("img/python-logo_Mobile2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    padding-left: 100%;
}

@media (min-width: 1000px) {
    header {
      background-image: url("img/python-logo_Desktop2.png");
      width: 1000px;
      height: 250px;
      box-shadow: 0px 0px 34px black;
    }
}
  
.parallax-bg-wrapper {
    position: absolute;
    width: 100%;
    height: 120%;
    z-index: -1;
}

.bg-image {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;  
}


[data-scroll] {
    transition: transform 1s;
}
[data-scroll="in"] {
    transform: translateY(0);
}
[data-scroll="out"] {
    transform: translateY(100px);
}

  


